#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.ReactModal__Overlay {
  z-index: 1;

}
.mainmodel{
  display: flex;
  justify-content: center;
}
.model{
  width: 50%;
}
.featured{
  display: flex;  
  
  
}
.absoposition{
  display: flex;
position: relative;
}
.relpostion{
  position: absolute;
  top:190px;
  left:100px;
  color: #ffff;
 font-size: larger;
}
.swiper_navcard_module{
  width: 50%;
  margin-bottom: 20px;
  z-index: -10000;
 
}
/* search module */
.search{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 5px auto;
 /* background-color: brown; */
 width:340px;
 border-radius: 10px;
}
.search_main{
/* width: 500px; */
height: 100px;
}

.child1_ul{
list-style-type: none;
text-align: left;
}
.icons{
  list-style-type: none;
  display: flex;
  justify-content: space-between;

}
.footer_ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  
}

.landingnavbar{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.landingnavbar_ul{
  list-style-type: none;
  display: flex;
}
.logincontainer{
  display: flex;
}
.color{
  background-color: cornflowerblue;
  width: 200px;
  
}
.paragraphhide{
  display: none;
}
.paragrapshow{
  display: block;
}
/* input component */
.input{
  height: 30px;
  width: 270px;
 
}
.primary{
  background-color: red;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
